<template lang='pug'>
  div.home
    img(alt="Vue logo" src="../assets/logo.png")
    p Version {{version}}
    HelloWorld(msg="Welcome to Your Vue.js App")
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "home",
  components: {
    HelloWorld
  },
  data: () => ({
    version: process.env.VUE_APP_VERSION
  })
};
</script>
